<section class="panel panel-padding" ng-controller="PlacesCtrl" ng-init="getPlaces()">
	<div class="center-form">
		<form>
			<p>
				<input id="numAllee" type="number" class="text-input text-input--underbar" placeholder="Numéro allé" ng-model="allee">
			</p>
			<p>
				<input id="numPlace" type="number" class="text-input text-input--underbar" placeholder="Numéro place" ng-model="place">
			</p>

			<p>
				<select ng-model="handicap" title="hadicape">
					<option value="true">Place handicapé</option>
					<option value="false">Place valide</option>
				</select>
			</p>
			<button type="submit" class="user-btn btn-info" onclick="$('#numPlace').val('');$('#numAllee').val('');" ng-click="insertPlace(allee, place, handicap)">Ajouter la place</button>
		</form>
		<div ng-if="result != null"><p><b>{{result}}</b></p><br /></div>
	</div>
	<div ng-repeat="place in places track by $index">
		<div ng-if="(place.Num_Place != 0) && (place.Num_Allee != 0)" class="padding-left-user tab-user">
			<p>Numéro Place: {{place.Num_Place}}</p>
			<p>Numéro Allée : {{place.Num_Allee}}</p>
			<p>Handicapé : <span ng-if="place.Handicape">Oui</span><span ng-if="place.Handicape == false">Non</span></p>
			<p ng-if="users[place.Userid] != null">Attribué à : {{users[place.Userid]}}</p>
			<ul ng-if="users[place.Userid] != null" style="margin-bottom: 10px;">
				<a href="" class="user-btn btn-info" ui-sref="profilOneUser({id:place.Userid})">Voir profil</a>
			</ul>
		</div>
	</div>
</section>