<div ng-controller="GestRegCtrl" ng-init="getAskRegister()">
    <div class="tab-user" ng-repeat="user in infoUser">
        <div class="padding-left-user">
            <p>Nom: {{user.nom}}</p>
            <p>Prenom: {{user.prenom}}</p>
            <p>Email: {{user.mail}}</p>
            <ul>
                <a href="" class="user-btn btn-info" ui-sref="profilOneUser({id:user.ID})">Voir profil</a>
            </ul>
        </div>
    </div>
</div>


