<div ng-controller="GestDemandesCtrl" ng-init="getDemandes()">
    <div ng-repeat="demande in demandes track by $index">
        <div class="padding-left-user tab-user" ng-if="users[demande.Userid] != null">
            <p>Place demandé: {{demande.Num_Place}}</p>
            <p>Numéro Allée : {{demande.Num_Allee}}</p>
            <p>Date demande: {{demande.ouverture | limitTo:10}}</p>
            <p>Demandeur: {{users[demande.Userid]}}</p>
            <ul style="margin-bottom: 10px;">
                <a href="" class="user-btn btn-info" ui-sref="profilOneUser({id:demande.Userid})">Voir profil</a>
            </ul>
        </div>
    </div>
</div>