<section>
    <div class="btn-link">
        <a ui-sref="gestDemandes()">
            <button class="btn btn-primary btn-way">
                <i class="fa fa-2x fa-car button-center">
                    <p class="text-btn">Demandes de places</p>
                </i>
            </button>
        </a>
        <a ui-sref="gestUser()">
            <button class="btn btn-primary btn-way">
                <i class="fa fa-2x fa-users button-center">
                    <p class="text-btn">Utilisateurs</p>
                </i>
            </button>
        </a>
        <a ui-sref="addPlace()">
            <button class="btn btn-primary btn-way">
                <i class="fa fa-2x fa-plus button-center">
                    <p class="text-btn">Ajouter une place</p>
                </i>
            </button>
        </a>
        <a ui-sref="suivisDemandesUser()">
            <button class="btn btn-primary btn-way">
                <i class="fa fa-2x fa-paper-plane-o button-center">
                    <p class="text-btn">Suivre mes demandes</p>
                </i>
            </button>
        </a>

    </div>
 </section>