<div class="user-padding">
    <p>Nom:{{infoUser.nom}}</p>
    <p>Prenom: {{infoUser.prenom}}</p>
    <p>Email: {{infoUser.mail}}</p>
    <p>Adresse: {{infoUser.adresse}}</p>
    <p>Code Postal: {{infoUser.cp}}</p>
    <p>Ville: {{infoUser.ville}}</p>
    <p>Immatriculation: {{infoUser.immatriculation}}</p>
    <p>Hadicapé: <span ng-if="infoUser.handicap">Oui</span><span ng-if="infoUser.handicap == false">Non</span></p>
</div>