<div ng-controller="UsersCtrl" ng-init="getUsers()">
    <div class="tab-user" ng-repeat="user in users">
        <div class="padding-left-user">
            <p>Nom: {{user.nom}}</p>
            <p>Prenom: {{user.prenom}}</p>
            <p>Email: {{user.mail}}</p>
            <ul style="margin-bottom: 10px;">
                <a href="" class="user-btn btn-info" ui-sref="profilOneUser({id:user.ID})">Voir profil</a>
            </ul>
        </div>
    </div>
</div>


