<section class="panel">
    <div id="alert-mdp"></div>
    <div class="center-form panel-padding" ng-controller="LoginCtrl">
        <form>
            <p>
                <input id="email" title="email" placeholder="Email" type="email" class="text-input text-input--underbar"
                       ng-model="mail">
            </p>
            <button type="submit" class="submit" onclick="$('#email').val('');" ng-click="loginUser(mail)">Connexion</button>
        </form>
        <div ng-if="error != null"><p><b>{{error}}</b></p><br/></div>
    </div>
</section>