<div class="padding-top-user" ng-controller="GestDemandesCtrl" ng-init="getDemandesForUser()">
    <form>
        <p>
            <input id="numPlace" title="Num_Place" placeholder="Num_Place" type="number" class="text-input text-input--underbar"
                   ng-model="Place">
        </p>
        <p>
            <input id="numAllee" title="Num_Allee" placeholder="Num_Allee" type="number" class="text-input text-input--underbar"
                   ng-model="Allee">
        </p>
        <button type="submit" class="user-btn btn-info" onclick="$('#numPlace').val('');$('#numAllee').val('');" ng-click="newDemande(Allee, Place)">Envoyer la demande</button>
    </form>
    <div ng-if="result != null"><p><b>{{result}}</b></p><br/></div>
    <div ng-repeat="demande in demandes track by $index">
            <div class="tab-user padding-left-user">
                <p>Place demandé: {{demande.Num_Place}}</p>
                <p>Numéro Allée : {{demande.Num_Allee}}</p>
                <p>Date demande: {{demande.ouverture | limitTo:10}}</p>
            </div>
    </div>
</div>