@import url(https://fonts.googleapis.com/css?family=Dosis);

.icon-sprite, .icon-about, .icon-clear, .icon-clouds-big, .icon-clouds, .icon-home, .icon-rain, .row_active i {
    background-repeat: no-repeat;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section, summary {
    display: block;
}

.icon-about {
    background-position: 0 -50px;
    height: 32px;
    width: 32px;
}

.icon-clear {
    background-position: 0 -132px;
    height: 50px;
    width: 50px;
}

.icon-clouds-big {
    background-position: 0 -182px;
    height: 72px;
    width: 96px;
}

.icon-clouds {
    background-position: 0 0;
    height: 50px;
    width: 50px;
}

.icon-home {
    background-position: -32px -50px;
    height: 32px;
    width: 32px;
}

.icon-rain {
    background-position: 0 -82px;
    height: 50px;
    width: 50px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input, textarea {
    border: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/*------------------------------------*\
    $GENERIC
\*------------------------------------*/
body {
    color: #8f99b7;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    background-color: #f9f9f9;
}

i {
    display: inline-block;
}

h1 {
    font-size: 28px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin: 45px 0;
    display: none;
}

p {
    margin: 1em 0;
    overflow: hidden;
    *zoom: 1;
}

input.text {
    display: block;
    width: 100%;
    height: 48px;
    border: 1px solid #1f253d;
    background-color: #4f597b;
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

input.text:focus {
    border: 1px solid #11a7ab;
}

button.submit, .btn {
    display: inline-block;
    padding: 0 5px;
    height: 50px;
    width: 50%;
    line-height: 50px;
    border: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background-color: #1FBBA6;
    margin-left: 25%;
    text-decoration: none;
}

.btn {
    background-color: #11a7ab;
    float: left;
    height: 80px;
    width: 80px;
}
.btn-success{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-danger{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-info{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da
}
.user-btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 0.7;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.user-padding{
    padding: 15px;
}
.user-btn-block{
    display: block;
    width: 100%;
}
.back {
    display: block;
    position: absolute;
    top: -60px;
    left: 0;
    /*background: url(img/back.png) center center no-repeat;*/
    z-index: 10;
    width: 60px;
    height: 60px;
}

.loader {
    /*background: url(img/loader.gif) center center no-repeat rgba(57, 66, 100, 0.6);*/
    z-index: 500;
}

/*------------------------------------*\
    $Elem
\*------------------------------------*/
.row-title {
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    background-color: #cb314b;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.row {
    height: 60px;
    background-color: #394163;
    margin: 1px 0;
    position: relative;
}

.row i {
    position: absolute;
    left: 20px;
    top: 5px;
}

.row .temperature {
    color: #fff;
    font-size: 18px;
    position: absolute;
    right: 20px;
    line-height: 60px;
}

.row strong {
    color: #fff;
    text-transform: uppercase;
}

.row .date {
    line-height: 60px;
    font-size: 16px;
    position: absolute;
    left: 90px;
    top: 0;
}

.row_active {
    margin: 0;
    height: 133px;
    background-color: #e54b65;
    color: white !important;
}

.row_active .date {
    position: absolute;
    top: 0;
    left: 25px;
}

.row_active .temperature {
    position: absolute;
    top: 45px;
    left: 25px;
    font-size: 70px;
    line-height: 70px;
}

.row_active i {
    position: absolute;
    top: 20px;
    right: 25px;
    left: auto;
}

.row_active i {
    background-position: 0 -182px;
    height: 72px;
    width: 96px;
}

/*------------------------------------*\
    $INTERFACE
\*------------------------------------*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
    color: #000;
    text-align: center;
    background-color: #FFF;
    font-family: 'Dosis', sans-serif;
    border-bottom: 1px solid #ddd;
}

.view {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 60px;
    left: 0;
}

.nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #4f597b;
    overflow: hidden;
    *zoom: 1;
}

.nav a {
    display: block;
    width: 50%;
    height: 60px;
    line-height: 60px;
    float: left;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.nav a:first-child {
    border-right: 1px solid #1f253d;
}

.nav .active {
    border-top: 3px solid #11a7ab;
}

.nav i {
    margin-top: 15px;
}

.panel, .loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.panel-padding {
    padding: 0 25px;
}

.left {
    -webkit-transform: translate3D(-100%, 0, 0);
    -moz-transform: translate3D(-100%, 0, 0);
    -ms-transform: translate3D(-100%, 0, 0);
    -o-transform: translate3D(-100%, 0, 0);
    transform: translate3D(-100%, 0, 0);
}

.center {
    -webkit-transform: translate3D(0, 0, 0);
    -moz-transform: translate3D(0, 0, 0);
    -ms-transform: translate3D(0, 0, 0);
    -o-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
}

.right {
    -webkit-transform: translate3D(100%, 0, 0);
    -moz-transform: translate3D(100%, 0, 0);
    -ms-transform: translate3D(100%, 0, 0);
    -o-transform: translate3D(100%, 0, 0);
    transform: translate3D(100%, 0, 0);
}

.btn-link {
    margin: 37% 0 0 7%;
}

.btn-way {
    margin: 10%;
}

.text-btn {

}

.btn:hover {
    background-color: #323A45;
}

.center-form {
    /*margin: 50% 0 0 0;*/
}

.text-btn {
    font-size: 10px;
}

.button-center {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.handi-select {
    display: block;
    width: 100%;
    height: 48px;
    border: 1px solid #1f253d;
    background-color: #4f597b;
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    margin-bottom: 10px;
}

.login-btn {
    margin-top: 0 !important;
}

.text-input {
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    line-height: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    vertical-align: top;
    outline: none;
    line-height: 1;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #f9f9f9;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #1f1f21;
    padding: 4px 8px 0 8px;
    margin: 0;
    font-size: 15px;
    height: 31px;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.text-input::-webkit-input-placeholder,
.text-input::-moz-placeholder,
.text-input:-ms-input-placeholder {
    color: #999;
}
.text-input:disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}
.text-input:disabled::-webkit-input-placeholder,
.text-input:disabled::-moz-placeholder,
.text-input:disabled:-ms-input-placeholder {
    color: #999;
}
.text-input:invalid {
    border: 1px solid #ddd;
    color: #1f1f21;
}
/* topdoc
  name: Transparent Text Input
  class: text-input--transparent
  markup:
    <input type="text" class="text-input--transparent" placeholder="text" value="">
    <br>
    <input type="text" class="text-input--transparent" placeholder="text" value="" disabled>
*/
.text-input--transparent {
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    line-height: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    vertical-align: top;
    outline: none;
    line-height: 1;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #f9f9f9;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #1f1f21;
    padding: 4px 8px 0 8px;
    margin: 0;
    font-size: 15px;
    height: 31px;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
}
.text-input--transparent:disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
    border: none;
    background-color: transparent;
}
.text-input--transparent:disabled::-webkit-input-placeholder,
.text-input--transparent:disabled::-moz-placeholder,
.text-input--transparent:disabled:-ms-input-placeholder {
    color: #999;
    border: none;
    background-color: transparent;
}
.text-input--transparent:invalid {
    border: 1px solid #ddd;
    color: #1f1f21;
    border: none;
    background-color: transparent;
}
/* topdoc
  name: Underbar Text Input
  class: text-input--underbar
  markup:
    <input type="text" class="text-input--underbar" placeholder="text" value="">
    <br>
    <input type="text" class="text-input--underbar" placeholder="text" value="" disabled>
*/
.text-input--underbar {
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    line-height: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    vertical-align: top;
    outline: none;
    line-height: 1;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #f9f9f9;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #1f1f21;
    padding: 4px 8px 0 8px;
    margin: 0;
    font-size: 15px;
    height: 31px;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ddd;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.text-input--underbar:disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ddd;
}
.text-input--underbar:disabled::-webkit-input-placeholder,
.text-input--underbar:disabled::-moz-placeholder,
.text-input--underbar:disabled:-ms-input-placeholder {
    color: #999;
    border: none;
    background-color: transparent;
}
.text-input--underbar:invalid {
    border: 1px solid #ddd;
    color: #1f1f21;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ddd;
}
/* topdoc
  name: Textarea
  class: textarea
  modifiers:
    :disabled: Disabled state
  markup:
    <textarea class="textarea" rows="3" placeholder="Textarea"></textarea>
  showcase:
*/
.textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    line-height: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 17px;
    vertical-align: top;
    resize: none;
    outline: none;
    padding: 5px 5px 5px 5px;
    font-size: 15px;
    font-weight: 400;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    color: #1f1f21;
    letter-spacing: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
}
.textarea:disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}
.textarea::-webkit-input-placeholder,
.textarea::-moz-placeholder,
.textarea:-ms-input-placeholder {
    color: #999;
}
/* topdoc
  name: Textarea Transparent
  class: textarea--transparent
  modifiers:
    :disabled: Disabled state
  markup:
    <textarea class="textarea--transparent" rows="3" placeholder="Textarea"></textarea>
  showcase:
*/
.textarea--transparent {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    line-height: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 17px;
    vertical-align: top;
    resize: none;
    outline: none;
    padding: 5px 5px 5px 5px;
    padding-left: 0;
    padding-right: 0;
    font-size: 15px;
    font-weight: 400;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: none;
    background-color: transparent;
    color: #1f1f21;
    letter-spacing: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
}
.textarea--transparent:disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}
.textarea--transpanret::-webkit-input-placeholder,
.textarea--transparent::-moz-placeholder,
.textarea--transparent:-ms-input-placeholder {
    color: #999;
}
.padding-top-user{
    padding-top: 5px;
}
.tab-user{
    border-bottom: 1px black solid;
}
.padding-left-user{
    padding-left: 10px;
    margin-bottom: 8px;
}
.padding-top{
    padding-top: 30px;
}